@import '../../styles.scss';

.sidebar {
  width: 100%;
  position: absolute;
  top: -30rem;
  left: 0;
  height: 360px;
  z-index: -1;
  opacity: 20%;
  transition: transform .25s ease-out, opacity .3s ease-in;
  background-color: $background-color;
  &.open {
    transform: translateY(30em);
    opacity: 100%;
    overflow: hidden !important;
  }
  &.closed {
    opacity: 20%;
  }
  &.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

.links-table {
  padding-top: 40px;
  &.mobile {
    padding-top: 0px;
    position: absolute;
    bottom: calc(100vh - 100dvh + 30px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.scroll-table {
  &.desktop {
    margin-top: 165px;
    td {
      padding-left: 20px;
    }
  }
  &.mobile {
    display: inline-block;
    text-align: center;
    margin: 0 auto !important;
    i {
      font-size: 3.25vh !important;
    }
    .dot {
      font-size: 2vh !important;
      line-height: .5vh !important;
    }
    td {
      padding-top: 2.5vh !important;
      line-height: 3.25vh;
    }
  }
  transition: opacity .1s ease-out !important;
  opacity: 70%;
  &.open {
    opacity: 100%;
  }
  i {
    cursor: pointer;
    font-size: 32px;
    color: grey;
    transition: color .15s ease-in, opacity .1s ease-in;
    opacity: 0%;
    &:hover {
      color: $text-color;
    }
    &.open {
      opacity: 100%;
    }
    &.closed {
      opacity: 0%;
    }
  }
}


.sidebar-toggle-button {
  z-index: 10;
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;

  .bar {
    width: 30px;
    height: 2px;
    background-color: $text-color;
    margin: 6px auto;
    transition: 0.4s;
  }

  &.active {
    .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
}

@media screen and (max-width: 850px) {
  .sidebar {
    height: 100vh;
    top: -100vh;
    &.open {
      transform: translateY(100vh);
      overflow-y: hidden;
      overflow: hidden;
    }
  }
  .sidebar-toggle-button {
    top: 8vw;
    right: 5vw !important;
    &.active {
      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -6px);
      }
    }
  }
  .bar {
    width: min(7vw, 18px) !important;
    height: 1px !important;
  }
}