
<div class="m-24">
    <div class="bg-white rounded-lg pt-4 pb-4">
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> backdrop: </div><div class="w-4/5 rounded-lg bg-backdrop"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> label: </div><div class="w-4/5 rounded-lg bg-label"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> primary: </div><div class="w-4/5 rounded-lg bg-primary"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> primary-focused: </div><div class="w-4/5 rounded-lg bg-primary-focused"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> primary-light: </div><div class="w-4/5 rounded-lg bg-primary-light"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> primary-tinted: </div><div class="w-4/5 rounded-lg bg-primary-tinted"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> secondary-focused: </div><div class="w-4/5 rounded-lg bg-secondary-focused"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> disabled: </div><div class="w-4/5 rounded-lg bg-disabled"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> secondary-disabled-text: </div><div class="w-4/5 rounded-lg bg-secondary-disabled-text"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> text: </div><div class="w-4/5 rounded-lg bg-text"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> secondary-text: </div><div class="w-4/5 rounded-lg bg-secondary-text"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> light-bg-text: </div><div class="w-4/5 rounded-lg bg-light-bg-text"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> warning: </div><div class="w-4/5 rounded-lg bg-warning"></div></div>
        <div class="flex p-4 h-24 pt-2"><div class="w-1/5 text-light-bg-text justify-center content-center"> error: </div><div class="w-4/5 rounded-lg bg-error"></div></div>
    </div>
</div>
