<div class="m-2">
  <ng-container *ngIf="type != 'text'">
    <button
      class="disabled:text-secondary-text h-full w-full min-w-32 rounded-lg px-4 py-2 font-semibold italic transition duration-300 ease-in-out enabled:hover:cursor-pointer disabled:opacity-45"
      [ngClass]="{
        'text-secondary-disabled-text enabled:hover:bg-secondary-focused enabled:hover:text-secondary-focused bg-transparent':
          type == 'back',
        'enabled:hover:bg-primary-focused bg-primary text-white':
          type != 'back',
      }"
      [disabled]="disabled || loading"
    >
      <ng-container *ngIf="!loading; else loader">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
      </ng-container>
      <ng-template #loader><app-loader size="sm"></app-loader></ng-template>
    </button>
  </ng-container>
  <ng-container *ngIf="type == 'text'">
    <div
      class="text-secondary-text hover:text-primary px-4 py-2 font-semibold transition duration-300 ease-in-out hover:cursor-pointer disabled:cursor-auto"
      [attr.disabled]="disabled || loading"
    >
      <ng-container *ngIf="!loading; else loader">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
      </ng-container>
      <ng-template #loader><app-loader size="sm"></app-loader></ng-template>
    </div>
  </ng-container>
</div>

<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>
