
<ng-container *ngIf="type != 'text'">
    <button
        class="w-full px-4 py-2 h-full font-semibold disabled:bg-disabled disabled:text-secondary-text disabled:opacity-45 rounded-lg duration-300 transition ease-in-out italic"
        [ngClass]="{'bg-transparent text-secondary-disabled-text enabled:hover:bg-secondary-focused enabled:hover:text-secondary-focused': type == 'back', 'enabled:hover:bg-primary-focused enabled:bg-primary text-white': type != 'back'}"
        [disabled]="disabled || loading"
    >
        <ng-container *ngIf="!loading; else loader">
            <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
        </ng-container>
    </button>
</ng-container>
<ng-container *ngIf="type == 'text'">
    <div
        class="px-4 py-2 font-semibold text-secondary-text hover:text-primary duration-300 transition ease-in-out hover:cursor-pointer"
    >
        <ng-container *ngIf="!loading; else loader">
            <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #tempOutlet>
    <ng-content></ng-content>
</ng-template>
<ng-template #loader><app-loader size="w-8 h-8"></app-loader></ng-template>