<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 flex h-full items-center justify-center backdrop-blur-lg"
  (click)="onOverlayClicked($event)"
>
  <div
    class="h-full w-full bg-white p-6 shadow-lg md:h-auto md:max-w-lg md:rounded-lg"
    (click)="$event.stopPropagation()"
  >
    <div class="mb-4 flex items-center justify-between border-b pb-2">
      <h3 class="text-primary text-lg font-semibold">
        {{ title || "Example modal" }}
      </h3>
      <button
        (click)="close()"
        class="text-secondary hover:text-primary transition duration-100 ease-in-out focus:outline-none"
      >
        <app-icon type="X"></app-icon>
      </button>
    </div>
    <div class="text-secondary">
      <ng-content></ng-content>
    </div>
  </div>
</div>
