<div class="mb-4">
    <label class="block text-sm font-medium outline-white" [class]="labelClass">
        <ng-content></ng-content>
    </label>
    <input
      class="hidden"
      [formControl]="$any(control)"
      [attr.readonly]="readonly"
      #inp
    />
    <div class="relative inline-block text-left mt-1 w-full">
      <div>
        <button
            [attr.readonly]="readonly"
            type="button"
            class="inline-flex justify-center items-center w-full rounded-md border focus:border-primary shadow-sm px-4 py-2 text-secondary-text"
            [ngClass]="{ 'hover:bg-primary hover:text-white focus:ring-2 transition ease-in-out duration-300': !readonly, 'hover:cursor-auto': readonly }"
            aria-haspopup="true"
            [attr.aria-expanded]="active"
            (click)="!readonly ? active = !active : null"
        >
          <span id="dropdown-selected-option" class="w-full text-left overflow-hidden flex-1">{{inp.value || 'Select an option'}}</span>
          <app-icon [type]="IconType.DownArrowShort" *ngIf="!readonly"></app-icon>
        </button>
      </div>
      <div *ngIf="active" class="origin-top-right bg-white absolute w-full left-0 mt-2 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-20" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-button" tabindex="-1">
        <div class="py-1 text-primary" role="none">
          <a
            *ngFor="let option of keys"
            class="block px-4 py-2 text-left text-sm  hover:bg-primary hover:text-white hover:cursor-pointer"
            (click)="updateValue(option, inp)"
            role="menuitem"
        >{{option}}</a>
        </div>
      </div>
    </div>
    <app-errors [control]="$any(control)" [checkTouched]="false"></app-errors>
  </div>
