<label class="z-10 inline-flex cursor-pointer items-center">
  <input type="radio" class="peer hidden" />

  <div
    class="flex h-5 w-5 items-center justify-center rounded-full border border-gray-400"
    *ngIf="mode == 'simple'"
  >
    <div
      *ngIf="selected"
      class="bg-primary absolute h-3.5 w-3.5 rounded-full"
    ></div>
  </div>
  <app-label class="text-secondary -mb-1 pl-2" *ngIf="mode == 'simple'">{{
    label
  }}</app-label>

  <label
    *ngIf="mode == 'fancy'"
    class="text-md ml-0 flex items-center justify-center truncate rounded-full py-2 font-semibold uppercase transition duration-300 ease-in-out select-none hover:cursor-pointer"
    [ngClass]="{ 'text-label': !selected, 'text-white': selected }"
    >{{ label }}</label
  >
</label>
