<div
  class="mt-auto mr-auto ml-auto flex h-8 w-8 items-center justify-center"
  *ngIf="'sm' == size"
>
  <div
    class="border-t-primary h-8 w-8 animate-spin rounded-full border-4 border-gray-300"
  ></div>
</div>
<div
  class="mt-auto mr-auto ml-auto flex h-24 w-24 items-center justify-center"
  *ngIf="'md' == size || !size"
>
  <div
    class="border-t-primary h-24 w-24 animate-spin rounded-full border-4 border-gray-300"
  ></div>
</div>
<div
  class="mt-auto mr-auto ml-auto flex h-48 w-48 items-center justify-center"
  *ngIf="'lg' == size"
>
  <div
    class="border-t-primary h-48 w-48 animate-spin rounded-full border-4 border-gray-300"
  ></div>
</div>
